.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ffd364;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #323232;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #323232;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #f0b212;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }






.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.devs-container .heading h3 {
  color: #323232;
  font-size: 50px;
}
.navbar {
  width: 100%;
  padding: 30px 0;
  margin-left: 30px;
}
.devs-h3{
  font-size: 40px;
  color: #323232;
  text-align: center;
  margin-top: 150px;
}
.navbar .nav-content {
  display: grid;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.devs-container {
  margin-top: 7.5rem;
}

.devs-container .dev-box {
  margin: 5rem 0;
  color: #323232;
}
.devs-container .dev-box img {
  border-radius: 50%;
  margin: 0 3rem;
  width: 200px;
  height: 200px;
}
.devs-container .dev-box img:hover {
  transform: scale(1.1);
  border: 3px solid #f0b212;
}
.devs-container .dev-box.direita {
  text-align: right;
}
.devs-container .dev-box .esquerda {
  text-align: left;
}

.devs-container .dev-box .dev-text-box h3 {
  margin-top: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #323232;
}
.devs-container .dev-box .dev-text-box p {
  text-transform: none;
  font-size: 1.5rem;
  line-height: 2;
  color: #323232;
  padding: 2rem 0;
}
.devs-container .dev-box .social-links {
  font-size: 3.5rem;
}
.devs-container .dev-box .social-links i {
  color: #323232;
  margin: 0 0.5rem;
}
.devs-container .dev-box .social-links a:hover i {
  color: #f0b212;
}
