.contact .heading h3 {
  color: #323232;
  margin-bottom: 60px;
}
.contact {
  margin-top: 7.5rem;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact .row .map {
  flex: 1 1 37rem;
  width: 100%;
}
.contact .row .form {
  flex: 1 1 40rem;
}
.contact .row .form .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.contact .row .form .icons-container .icons {
  flex: 1 1 12rem;
  text-align: center;
}
.contact .row .form .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #f0b212;
  color: #323232;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact .row .form .icons-container .icons h3 {
  padding: 1rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #323232;
}
.contact .row .form .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #323232;
}
.contact .row form {
  text-align: center;
  width: 100%;
}
.contact .row form .box,
.login .box {
  font-size: 1.6rem;
  color: #323232;
  background: none;
  border: 0.2rem solid #32323274;
  text-transform: none;

  margin: 0.7rem 0;
}
.contact .row #tipo-contato {
  color: #323232;
  border: 0.2rem solid #32323274;
}
.contact .row #tipo-contato option {
  background-color: #fff;
}
.contact .row .form form .box:focus {
  border-color: #f0b212;
}
.contact .row .form form textarea {
  height: 15rem;
  resize: none;
}
.contact .row .form form input.btn {
  text-align: center;
  border: #323232 solid 1px;
}
.contact .row .form .input {
  padding: 1.2rem 1.4rem;
  border: #323232 solid 1px;
}
.form-bg {
  display: grid;
  grid-template-columns: 1fr;
}
