* {
  padding: 0;
  outline: none;
  border: none;
  text-transform: none;
}

html::-webkit-scrollbar-thumb {
  background: #f0b212;
  border-radius: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* html {
  font-size: 62.5%;
}
 */
