html{
  overflow: hidden;
}


section {
  padding: 20px 150px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 20px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  box-sizing: border-box;
  font-size: 18px;
  color: transparent;
  border-bottom: 1px solid #3232324b;
}

.header .header-menu {
  display: flex;
  gap: 30px;
}
.header-menu a {
  font-size: 24px;
  color: var(--pr1);
  display: inline-block;
  padding: 10px 0;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.header-menu a:hover{
  transform: scale(1.2);
  transition: 0.8s;
}
.header-menu #linha::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--pr1);
  margin-top: 4px;
  transition: 0.4s;
  position: absolute;
}
.header-menu #linha:hover:after {
  width: 100%;
}
.header #menu-btn {
  display: none;
}


#login {
  background:var(--pr1);
  padding: 8px 15px;
  border-radius: 10px 30px 10px 30px;
  color: var(--branco);
}
#login:hover {
  color: var(--black);
  background: var(--amarelo);
  border-radius: 30px 10px 30px 10px;
  transition: 0.8s;
}

.index {
  background: url(../../images/Bacground/background.png) no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.home{
  margin-top: 200px;
}
.home .content {
  max-width: 800px;
  text-align: center;
  justify-content: center;
}
.home .content .search-form {
  margin: 0 auto;
  width: 100%;
}
.home .content .input-group input[type="text"] {
  padding: 18px 0;
  text-indent: 15px;
  font-size: 20px;
  background: none;
  border: 1px solid #3232324b;
  text-transform: none;
  width: 100%;
  border-radius: 1rem;
}
.home .content .input-group input[type="text"]:focus {
  border-color: #f0b212;
}
.input-group{
  margin-top: 50px;
  position: relative;
}
.input {
  width: 100%;
  border: solid 1.5px #9e9e9e;
  background: none;
  padding: 1rem;
  font-size: 20px;
  color: #000;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.input-group .user-label {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.411);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
.input:focus, .input:valid {
  outline: none;
  border: 1.5px solid #f0b212;
}
.input:focus ~ label.user-label, input:valid ~ label.user-label {
  transform: translateY(-70%) scale(0.9);
  background-color: #fff;
  padding: 0 .2rem;
  color: #323232;
}
.home .content .input-group i {
  position: absolute;
  top: 1.1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #3232324b;
}
.home .content .input-group .input:focus + label + i {
  color: #f0b212;
}
.home .content .checkbox-list .categorias .categoria label:hover + i {
  transform: scale(1.5);
  transition: 0.8s;
  color: #f0b212;
}

.home .content h3 {
  font-size: 45px;
  color: #323232;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 100px;
}
.home .content .categorias {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  height: 5rem;
  list-style: none;
}
.home .content .categorias .categoria {
  height: 100%;
  width: 10%;
  box-sizing: border-box;
  margin: 0 1rem;
  position: relative;
  border-radius: 10px 30px 10px 30px;
  color: #323232;
}
.home .content .categorias input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
  padding: 10px;
}
.home .content .categorias .categoria label {
  position: absolute;
  z-index: 15;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  white-space: nowrap;
}
.home .content .categorias .categoria i {
  margin-top: 1rem;
  font-size: 3rem;
  align-self: center;
}

.categorias input:checked + label + i {
  color: #f0b212;
}
.button {
  width: 200px;
  height: 70px;
  margin-top: 20px;
  background: #323232;
  font-size: 25px;
  padding: 8px 20px;
  border-radius: 10px 30px 10px 30px;
  color: #fff;
}
.button:hover {
  font-weight: 600;
  color: #000;
  background: #f0b212;
  border-radius: 30px 10px 30px 10px;
  transition: 0.8s;
}


