@media (max-width: 1440px) {
  .home {
    width: 700px;
  }
}

@media (max-width: 1200px) {
  .home {
    height: 200px;
  }
  .home .content h3 {
    align-items: center;
    font-size: 25px;
  }
  header .logo {
    position: relative;
    max-width: 150px;
  }
  .button {
    width: 120px;
    height: 50px;
    margin-top: 20px;
    background: #323232;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 10px 30px 10px 30px;
    color: #fff;
  }
}
@media (max-width: 800px) {
  .home {
    width: 400px;
    
  }
  
  .home .content {
    margin-top: -18%;
  }
  .home .content input {
    height: 10px;
  }
  .home .content h3 {
    font-size: 45px;
  }
  .checkbox-list label {
    width: 2px;
  }
  .input-group .user-label {
    position: absolute;
    top: -9px;
    left: 15px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.411);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
  }
  .input:focus ~ label.user-label, input:valid ~ label.user-label {
    transform: translateY(-40%) scale(0.9);
    background-color: #fff;
    padding: 0 .2rem;
    color: #323232;
  }
  .button{
    margin-bottom: 10px;
  }

}
@media (max-width: 400px) {
  .home {
    width: 100%;
    margin: 0;
  }
 
}
